# Задание 1

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
res = data.loc[data['rating'] == 5.0].groupby('movieId').count()
res.sort_values(by = 'rating', ascending = False).head(1)

         userId  rating  timestamp
movieId
318         170     170        170

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
power = pd.read_csv('power.csv')

# выбор периода с 2005 по 2010 год + отсеивание отрицательных значений
filt = power[(power['year'] >= 2005) & (power['year'] <= 2010) & (power['quantity'] > 0)] 

# фильтрация по нужным категориям
cat = filt[filt.category.isin([4, 12, 21])]

# фильтрация по нужным странам
country = cat[cat.country.str.contains('|'.join(['Lat', 'Lit', 'Est']))]

# суммарное потребление 
sum_q = country['quantity'].sum()

print(sum_q)

240580.0

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [6]:
url = 'https://www.finanz.ru/valyuty/eur-usd'

df = pd.read_html(url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [7]:
df[:2]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  19.11.21     11280     11372     11376    11250
 1  18.11.21     11374     11321     11376    11313
 2  17.11.21     11321     11324     11334    11263
 3  16.11.21     11323     11370     11388    11307
 4  15.11.21     11369     11443     11467    11356
 5  14.11.21     11443     11451     11454    11443
 6  12.11.21     11445     11451     11463    11433
 7  11.11.21     11452     11482     11491    11443
 8  10.11.21     11481     11593     11598    11476,
        Имя  Unnamed: 1     %    курс                 Дата
 0  EUR/RUB         NaN -2664    8293  20.11.2021 01:02:00
 1  USD/RUB         NaN  4938  734725  20.11.2021 01:00:00
 2  CHF/RUB         NaN  -652  791283  20.11.2021 07:09:00
 3  JPY/RUB         NaN  -552    6444  20.11.2021 07:09:00
 4  GBP/RUB         NaN  -698  987913  20.11.2021 07:09:00
 5  NOK/RUB         NaN    68    8245  20.11.2021 07:09:00
 6  AUD/RUB         NaN   -26  531768  20.11.2021 07:09:00
 7  NZD/RUB         NaN   946  515411  20.11.2021 07:09:00
 8  TRY/RUB         NaN  -611   65409  20.11.2021 07:09:00]