# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:   
- оценка 2 и меньше - низкий рейтинг   
- оценка 4 и меньше - средний рейтинг   
- оценка 4.5 и 5 - высокий рейтинг   

Результат классификации запишите в столбец class

In [8]:
import pandas as pd

In [10]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
def classification(row):
    if row.rating >= 4.5:
        return 'высокий рейтинг'
    elif 2 < row.rating <= 4.0:
        return 'средний рейтинг'
    elif row.rating <= 2:
        return 'низкий рейтинг'

In [12]:
data['class'] = data.apply(classification, axis = 1)
data.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Результат классификации запишите в отдельный столбец region.

In [13]:
data = pd.read_csv('keywords.csv')

In [14]:
def geo_data(row):
    if 'москва' in row.keyword or 'тула' in row.keyword or 'ярославль' in row.keyword:
        return 'Центр'
    elif 'петербург' in row.keyword or 'псков' in row.keyword or 'мурманск' in row.keyword:
        return 'Северо-Запад'
    elif 'владивосток' in row.keyword or 'сахалин' in row.keyword or 'хабаровск' in row.keyword:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [15]:
data['region'] = data.apply(geo_data, axis = 1)
data.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined